@font-face {
  font-family: heavyoblique;
  src: url(fonts/FivoSans-Heavy-Oblique.otf);
}

@font-face {
  font-family: mediumoblique;
  src: url(fonts/FivoSans-Medium-Oblique.otf);
}

@font-face {
  font-family: main;
  src: url(fonts/FivoSans-Regular.otf);
}

html {
  font-family: main;
  background-color: #fdfdfd;
}

h1 { font-family: heavyoblique;
  padding: 32px; }

summary { font-family: mediumoblique; }

td { padding: 8px 64px; }
  
