@font-face {
  font-family: bolditalic;
  src: url(fonts/okta_neue_ultralight.otf);
}

html {
  font-family: main;
  background-color: #fdfdfd;
}

h1 { font-family: bolditalic;
  padding: 32px; }

summary { font-family: bolditalic; }

td { padding: 8px 64px; }
  
